/* Reset some basic elements */
body,
h1,
button {
  margin: 0;
  padding: 0;
}

/* Apply a background to the whole app */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  line-height: 1.6;
}

/* Center everything in the app */
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Style the header */
.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Style the Google Sign-in button */
button {
  background-color: #4285f4;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #357ae8;
}

/* Add some padding to the bottom of the header */
.App-header > *:last-child {
  margin-bottom: 20px;
}
