/* NavBar.css */
.navbar {
  position: fixed; /* Fixed position */
  top: 0; /* Stick to the top */
  left: 0; /* Stretch across the full width */
  right: 0; /* Stretch across the full width */
  z-index: 1000; /* Above other content */
  background-color: #282c34;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-item {
  padding: 10px 15px; /* Add padding to each nav item */
  background-color: #f0f0f0; /* Non-selected background color */
  color: #333; /* Text color for non-selected nav items */
  border: none; /* Remove borders if present */
  outline: none; /* Remove outline if present */
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.nav-tabs {
  display: flex;
  list-style-type: none;
}

.nav-item.selected {
  background-color: #4caf50; /* Background color for selected nav item */
  color: white; /* Text color for selected nav item */
}

.nav-tabs .tab {
  background: none;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.nav-tabs .tab.selected {
  border-bottom: 2px solid white;
}

.sign-in-btn {
  background-color: #4285f4;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sign-in-btn:hover {
  background-color: #357ae8;
}

.sign-in-button {
  margin-left: auto;
  background-color: blue; /* Or any color you want for the sign in button */
  color: white; /* Text color for the sign in button */
}
